<div class="home">
    <div class="home-jumbo"
         style="background-image: url('{{ jumbo_image|default(citipo_theme_asset_url('assets/home-default.jpg')) }}');">
        {% if jumbo_video %}
            <div class="home-jumbo-video">
                <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
                    <source src="{{ jumbo_video }}" type="video/mp4">
                </video>
            </div>
        {% endif %}

        {% if jumbo_overlay %}
            <div class="home-jumbo-overlay"></div>
        {% endif %}

        <div class="home-jumbo-mask">
            <svg viewBox="0 0 1100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1100 0v100H0L1100 0z" fill="#fff"></path></svg>
        </div>
    </div>

    <div class="home-intro">
        <div class="home-intro-view">
            <h2 data-aos="fade-up" data-aos-duration="600">
                {{ jumbo_title }}
            </h2>

            <p data-aos="fade-up" data-aos-duration="600">
                {{ jumbo_content|raw }}
            </p>

            {% if jumbo_position != 'center' and blocks[0] is defined and blocks[0].type == 'cta' %}
                <div class="home-buttons" data-aos="fade-up" data-aos-duration="600">
                    {{ blocks[0].content|raw }}
                </div>
            {% endif %}
        </div>
    </div>

    {% if jumbo_position == 'center' and blocks[0] is defined and blocks[0].type == 'cta' %}
        <div class="home-buttons" data-aos="fade-up" data-aos-duration="600">
            {{ blocks[0].content|raw }}
        </div>
    {% endif %}

    <div class="home-blocks">
        {% for key, block in blocks %}
            {% if key != 0 or block.type != 'cta' %}
                <div class="home-blocks-section home-blocks-section-{{ key }}">
                    <div class="home-blocks-container">
                        {{ block.content|raw }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
